<%- include('partials/header'); -%>

<header>
  <div class="home">
    <img src="./images/home.jpg" alt="">
  </div>
  <div class="headings">
    <h2>World Weather</h2>
    <h3>All right reserved</h3>
    <a href="/weather" class="btn">View Weather</a>
  </div>
</header>


<%- include('partials/footer'); -%>